<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head th:replace="layouts/main :: htmlhead"/>

<body>

<nav th:replace="layouts/main :: navigation" />

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="mt-5">Restaurant Reservation System</h1>
            <p class="lead">Управление бронированиями столиков</p>
            <ul class="list-unstyled">
                <li>Spring MVC</li>
                <li>Hibernate</li>
                <li>Bootstrap</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a type="button" th:href="@{/reservations/new}" class="btn btn-primary">Новое бронирование</a>
            <a type="button" th:href="@{/reservations}" class="btn btn-secondary">Список бронирований</a>
            <a type="button" th:href="@{/tables}" class="btn btn-info">Управление столиками</a>
        </div>
    </div>
</div>

<div th:replace="layouts/main :: footer"></div>
</body>
</html>